.home {
	background: url('/img/nipper.jpg') no-repeat center center;
  	height: 100%;
  	background-size: cover;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.home a {
	min-width: 200px;
}

